
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>Playlists Invitations</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                {{ invites.length }} Invitations
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Tracks</th>
                    <th>Write Permission</th>
                    <th>From</th>
                    <th class="options-column">Options</th>
                </tr>
                </thead>
                <tbody>

                {{#each invites}}
                    <tr>
                        <td>{{ this.playlist.name }}</td>
                        <td>{{ this.playlist.tracks.length }}</td>
                        <td>{{bool this.writable }}</td>
                        <td>{{ this.fromEmail }}</td>
                        <td class="text-center">
                            <a href="/invites/{{ this.id }}/accept" class="btn btn-success btn-xs" title="Accept">
                                Accept
                            </a>
                            <a href="/invites/{{ this.id }}/reject" class="btn btn-danger btn-xs" title="Reject">
                                Reject
                            </a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5" class="text-center">You dont have pending invites..</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>