{{> header }}

<div class="container">

    <h1>Artist</h1>

   <!-- Artist info -->
    <div class="row">
        <div class="col-md-12">
            <div class="well clearfix">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ artist.image }}" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="col-md-8">
                        <ul class="no-list-style">
                            <li><h2>{{ artist.name }}</h2></li>
                            <li><h3><strong>Followers:</strong> {{ artist.followers }}</h3></li>
                            <li><h3><strong>Genres:</strong> {{#with artist }}{{ getGenresString }}{{/with}}</h3></li>
                            <li>
                                <a href="{{ artist.uri }}" class="btn btn-primary btn-bg mt10">
                                    Open in Spotify
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- /Artist info -->

    <!-- Artist Albums -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Albums ({{ artist.albums.total }} total)</div>

                <ul class="list-group">
                    {{#each artist.albums.items}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3 album-item">
                                    <img width="60" src="{{ this.image }}" class="img-responsive" alt=""/>
                                </div>
                                <div class="col-xs-6 album-item">
                                    <a href="/album/{{ this.id }}">
                                        {{ limit this.name 40 }}
                                    </a>
                                </div>
                                <div class="col-xs-3 album-item">
                                    <a href="{{ this.uri }}" class="btn btn-primary btn-xs">
                                        Open in Spotify
                                    </a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <!-- /Artist Albums -->

    <!-- Pagination -->
    {{>paginate path='/artists/' query=id collection=artist.albums }}
    <!-- /Pagination -->
</div>

{{> footer }}