{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 align='center'>{{ artist.name }}</h1>

            <img src="{{ artist.image }}" class="img-responsive" alt="Responsive image"></div>

            <table class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Spotify</th>
                </tr>
                </thead>
                <tbody>
                {{#each artist.albums.items}}
                    <tr>
                        <td>
                            <img width="100" src="{{ this.image }}" alt=""/>
                        </td>
                        <td>{{ this.name }}</td>
                        <td>
                            <a href="{{ this.uri }}" class="btn btn-primary">Open in Spotify</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
    </div>

    <!-- Pagination -->
    {{>paginate path='/artists/' query=id collection=artist.albums }}
    <!-- /Pagination -->
</div>

{{> footer }}