{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">{{ collection.total }} Results for: {{ query }}</div>
                <ul class="list-group">
                    {{#each collection.items}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3 search-item">
                                    <img width="100" src="{{ this.image }}" class="img-responsive" alt=""/>
                                </div>
                                <div class="col-xs-6 search-item">
                                    <a href="/artists/{{ this.id }}">
                                        {{ limit this.name 30 }}
                                    </a>
                                </div>
                                <div class="col-xs-3 search-item">
                                    <a href="{{ this.uri }}" class="btn btn-primary btn-sm">
                                        Open in Spotify
                                    </a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>

    <!-- Pagination -->
    {{>paginate path='/search/' query=query collection=collection }}
    <!-- /Pagination -->
</div>

{{> footer }}