<h1>Album</h1>

<!-- Album info -->
<div class="row">
    <div class="col-md-12">
        <div class="well clearfix">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ album.image }}" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <ul class="no-list-style">
                        <li><h2>{{ album.name }}</h2></li>
                        <li><h3>{{ album.label }}</h3></li>
                        <li><h3><strong>Release Date:</strong> {{ album.release_date }}</h3></li>
                        <li>
                            <a href="{{ album.uri }}" class="btn btn-primary btn-bg mt10">
                                Open in Spotify
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Album info -->

<!-- Album tracks -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Tracks ({{ album.tracks.total }} total)</div>

            <ul class="list-group">
                {{#each album.tracks.items as |track|}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 album-item">
                                {{#with track }}{{ getDuration }}{{/with}}
                            </div>
                            <div class="col-xs-4 album-item">
                                {{ limit track.name 40 }}
                            </div>
                            <div class="col-xs-2 album-item">
                                <a href="{{ track.previewUrl }}" class="btn btn-primary btn-sm" target="_blank">
                                    Preview
                                </a>
                            </div>
                            <div class="col-xs-4 album-item text-right">
                                {{#if ../user}}
                                    <form action="/playlists/add-track" method="post" class="form-inline"
                                          onsubmit="return addTrackToPlaylist('{{ track.id }}')">
                                        <input type="hidden" name="track" value="{{ track.id }}"/>
                                        <div class="form-group">
                                            <select name="playlist" class="form-control input-sm add-track-select" required>
                                                <option value="">Add to playlist</option>
                                                {{!-- User Playlists --}}
                                                {{#each ../playlists as |playlist|}}
                                                    <option value="{{playlist.id}}">
                                                        {{trackExists playlist track.id }}
                                                        {{playlist.name}}
                                                    </option>
                                                {{/each}}

                                                {{!-- User Invited Playlists --}}
                                                {{#each ../invitedPlaylists as |playlist|}}
                                                    <option value="{{playlist.id}}">
                                                        {{trackExists playlist track.id }}
                                                        [Shared] {{playlist.name}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-sm btn-success">Add</button>
                                        </div>
                                    </form>
                                {{/if}}
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<!-- /Album tracks -->

<!-- Pagination -->
{{>paginate path='/albums/' query=album.id collection=album.tracks }}
<!-- /Pagination -->


{{#append 'scripts'}}
    <script src="/js/album.js"></script>
{{/append}}