<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <h3>Playlist: {{ playlist.name }}</h3>
                </div>
                <div class="col-md-6 text-right">
                    {{#ifOwner playlist authUser=user }}
                        <a href="/playlists/{{ playlist.id }}/edit" class="btn btn-warning btn-sm delete-playlist"
                           title="Edit">Edit
                        </a>
                        <a href="/playlists/{{ playlist.id }}/share" class="btn btn-info btn-sm delete-playlist" title="Share">
                            Share
                        </a>
                        <a href="/playlists/{{ playlist.id }}/delete" class="btn btn-danger btn-sm delete-playlist"
                           title="Delete">Delete
                        </a>
                    {{else }}
                        <h3>Invited by: {{ playlist.invite.fromEmail }}</h3>
                    {{/ifOwner}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                {{ tracks.length }} Tracks
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Album</th>
                    <th class="options-column">Options</th>
                </tr>
                </thead>
                <tbody>

                {{#each tracks as |track| }}
                    <tr class="tr-text-middle">
                        <td>
                            <img src="{{ track.album.image }}" alt="{{track.album.name}}" width="70"/>
                        </td>
                        <td>{{ limit track.name 40 }}</td>
                        <td>
                            {{#with track }}{{ getDuration }}{{/with}}
                        </td>
                        <td>
                            <a href="/albums/{{ track.album.id }}">
                                {{ limit track.album.name 40 }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{#ifCanWrite ../playlist authUser=../user }}
                                <a href="/playlists/{{ ../playlist.id }}/track/{{ track.id }}/remove"
                                   class="btn btn-danger btn-xs"
                                   title="Delete">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            {{else}}
                                No Write Access
                            {{/ifCanWrite}}
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5" class="text-center">
                            No tracks yet..
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>