<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>{{user.name}} Playlists</h3>
        </div>
    </div>
</div>

<!-- User Playlists -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                {{ playlists.length }} Playlists

                <a href="/playlists/create" class="btn btn-success pull-right btn-xs">Crete new playlist</a>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Tracks</th>
                    <th class="options-column">Options</th>
                </tr>
                </thead>
                <tbody>

                {{#each playlists}}
                    <tr>
                        <td>
                            <a href="/playlists/details/{{ this.id }}" id="name-{{ this.id }}">
                                {{ this.name }}
                            </a>
                        </td>
                        <td>{{ this.tracks.length }}</td>
                        <td class="text-center">
                            <button class="btn btn-info btn-xs" title="Edit" onclick="onClickEdit(this, '{{ this.id }}')">
                                <i class="fa fa-pencil"></i> Edit Name
                            </button>
                            <a href="/playlists/{{ this.id }}/share" class="btn btn-warning btn-xs" title="Share">
                                <i class="fa fa-share"></i> Share
                            </a>
                            <a href="/playlists/{{ this.id }}/delete" class="btn btn-danger btn-xs" title="Delete">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="3" class="text-center">You dont have any playlist yet, create one!</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /User Playlists -->

<!-- Invited playlists -->
{{#if invitedPlaylists.length}}
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {{ invitedPlaylists.length }} Invited Playlists
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tracks</th>
                        <th>Owner</th>
                        <th>Write Permission</th>
                        <th class="options-column">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each invitedPlaylists}}
                        <tr>
                            <td>
                                <a href="/playlists/details/{{ this.id }}">
                                    {{ this.name }}
                                </a>
                            </td>
                            <td>{{ this.tracks.length }}</td>
                            <td>{{ this.invite.fromEmail }}</td>
                            <td>{{bool this.invite.writable }}</td>
                            <td class="text-center">
                                <a href="/invites/{{ this.invite.id }}/reject" class="btn btn-danger btn-xs" title="Leave">
                                    <i class="fa fa-chain-broken"></i> Leave
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{{/if}}
<!-- /Invited playlists -->


{{#append 'scripts'}}
    <script src="/js/pages/playlists.js"></script>
{{/append}}
