
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>{{user.name}} Playlists</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                {{ user.playlists.length }} Playlists

                <a href="/" class="btn btn-success pull-right btn-xs">Crete new playlist</a>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Tracks</th>
                    <th class="text-right">Options</th>
                </tr>
                </thead>
                <tbody>

                {{#each user.playlists}}
                    <tr>
                        <td>
                            <a href="/playlists/{{ this.id }}">
                                {{ this.name }}
                            </a>
                        </td>
                        <td>{{ this.tracks.length }}</td>
                        <td class="text-right">
                            <a href="/playlists/edit/{{ this.id }}" class="btn btn-info btn-xs" title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="/playlists/delete/{{ this.id }}" class="btn btn-danger btn-xs" title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>